services:
  velocity:
    build: velocity
    ports:
      - "25565:25565"
    volumes:
      - "./example_configs/velocity/velocity.toml:/proxy/velocity.toml"
    env_file: .env.compose
  minibit:
    build: .
    network_mode: service:velocity
    volumes:
      - "./data:/run/data"
      - "./example_configs/velocity/minibit.yml:/run/config.yml"
    command: /bin/minibit
    env_file: .env.compose
