services:
  velocity:
    build: velocity
    ports:
      - "25565:25565"
    volumes:
      - "./example_configs/velocity/velocity.toml:/proxy/velocity.toml"
    environment:
      VELOCITY_FORWARDING_SECRET: a
  minibit:
    build: .
    network_mode: service:velocity
    volumes:
      - "./data:/run/data"
      - "./example_configs/velocity/minibit.yml:/run/config.yml"
    command: /bin/minibit
    environment:
      MINIBIT_FORWARDING_SECRET: a
