services:
  velocity:
    build: velocity
    ports:
      - "25565:25565"
    volumes:
      - "./run.tmp/proxy/velocity.toml:/proxy/velocity.toml"
    env_file: "run.tmp/.env"
  minibit:
    build: .
    network_mode: service:velocity
    volumes:
      - "./run.tmp:/run"
    command: /bin/minibit --auto /run
    env_file: "run.tmp/.env"
