name: Rust

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
    - name: Pin Rust toolchain
      run: |
        rustup toolchain install 1.92.0 --component clippy,rustfmt
        rustup override set 1.92.0
    - name: Cache
      uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-${{ runner.arch }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - name: Install libpq with apt
      if: ${{ runner.os == 'Linux' }}
      run: |
        sudo apt-get update
        sudo apt-get install libpq-dev
    - name: Build
      run: cargo build --verbose
    - name: Check
      run: cargo check --verbose
    - name: Formatting
      run: cargo fmt --all -- --check
    - name: Clippy
      run: cargo clippy --no-deps --all-features --all-targets -- -D warnings
